name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Docker Login
      uses: docker/login-action@v1.8.0
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        logout: true
        
    - name: Build the Docker image
      run: |
        TAG=$(date +%Y%m%d)
        docker build . --file Dockerfile --tag ${{ secrets.DOCKERHUB_USER }}/spark:${TAG}
        docker push ${{ secrets.DOCKERHUB_USER }}/spark:${TAG}
